@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font: 400 14px Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #f0f0f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(110, 110, 110);
}

body {
  -webkit-font-smoothing: antialiased;
  background-image: url("./assets/background.png");
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  color: #41414d;
  width: 100%;
  min-height: 100vh;
  max-width: 1180px;
  padding: 60px 0 10px;
  display: flex;
  flex-direction: column;
}

.modal {
  z-index: 3;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.3s;
}

.modal--hide {
  transform: translateX(100%);
  transition: all 0.4s;
}

.back-drop {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(59, 59, 59, 0.8);
}

.modal__container {
  flex: 1;
  width: 100%;
  max-width: 350px;
  display: flex;
  min-height: 0;
}

.modal__content {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.modal__title {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: flex;
  color: #41414d;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  background: #ccc;
  padding: 20px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
}

.icon {
  padding: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.icon--close-modal {
  position: absolute;
  font-size: 32px;
  top: 0;
  left: 0;
}

.icon:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.touch {
  animation-name: touched;
  animation-duration: 0.5s;
  transition: all 0.5s;
}

@keyframes touched {
  from {
    opacity: 0.8;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.icon--move-to-top {
  font-size: 34px;
}

.move-to-top {
  position: fixed;
  background: #f0f0f5;
  color: #000;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  right: 12px;
  bottom: -40px;
  z-index: 2;
  transform: translateY(60px);
  transition: all 1s;
  opacity: 0;
  cursor: pointer;
}

.move-to-top:hover {
  opacity: 0.8;
}

.move-to-top--visible {
  bottom: 90px;
  opacity: 0.8;
  transition: all 1s;
}

.move-to-top--visible-modal {
  bottom: 130px;
  opacity: 0.8;
  transition: all 1s;
}

@media (max-width: 635px) {
  .modal__container {
    width: 100%;
    max-width: none;
  }

  .modal__content {
    width: 100%;
    max-width: none;
  }

  .modal__title {
    width: 100%;
    max-width: none;
  }

  .modal__footer {
    width: 100%;
    max-width: none;
  }
}
